* {
  font-family: "Inter", sans-serif;
}

/* ?/* 
a {
  text-decoration: none;
} */

/*Sign in box END*/

/* Main Content start */
.hover-overlay {
  transition: background-color 0.3s, color 0.3s;
}

.hover-overlay:hover {
  background-color: #7d2dec;
  color: white;
}

.hover-overlay:hover .btn-outline-light {
  color: white; /* Ensures text color stays white */
}
/* Main Content END */

#datepicker--comp card {
  display: flex;
  justify-content: space-around; /* Adjusts spacing between items */
  align-items: center; /* Centers items vertically */
}

/* MUI Styling*/ /* src/components/SignIn.css */
/* src/components/SignIn.css */

body,
html {
  height: 100%;
  margin: 0;
}

.sign-in-background {
  background-color: #0373b8; /* Change this to your desired background color */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vh-100 {
  min-height: 100vh;
}

.sign-in-card {
  border-radius: 15px;
  overflow: hidden;
  width: 75%; /* Adjusted width */
  max-width: 2000px;
  background-color: #ffffff; /* Ensure card has white background */
}

.sign-in-image {
  height: 100%;
  object-fit: cover;
}

.MDBBtn {
  background-color: #000000;
  color: #ffffff;
}

.MDBBtn:hover {
  background-color: #ffffff;
  color: #000000;
}

.MDBCardBody {
  padding: 2rem; /* Adjusted padding */
}

h2 {
  font-size: 1.5rem; /* Adjusted font size */
}

.MDBInput {
  font-size: 0.9rem; /* Adjusted input font size */
}

.MDBBtn {
  font-size: 0.9rem; /* Adjusted button font size */
}

a {
  font-size: 0.8rem; /* Adjusted link font size */
}

.mb-3 {
  margin-bottom: 1rem; /* Added margin-bottom for spacing */
}

footer {
  color: white;
}
.footer-link {
  position: fixed;
}

.Hours-indicator-cards {
  width: 800px;
  display: flex;
  justify-content: space-around;
}
