* {
  font-family: "Inter", sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Sign-in Box  */

#Hello {
  color: #af1d1d;
}

.NewDiv {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 100%;
  color: aliceblue;
  background-color: #2a2e36;
}

#profile-icon {
  margin-top: 5px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: 4px white solid;
  background-size: contain;
  background-image: url("../public/profile-icon.png");
}

.sign-in-box {
  color: aliceblue;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 450px;
  background-color: #27292e;
  font-weight: 600;
}

#sign-in-form {
  color: aliceblue;
  /* display: flex;
  flex-direction: column; */

  height: 80%;
  width: 80%;
  background-color: #474a53;
}

#username-ele:focus {
  border-bottom: 3px solid #d32323;
}

#password-ele:focus {
  border-bottom: 3px solid #d32323;
}

#forgot-ele {
  font-size: small;
  margin: 10px;
}
/* 
a {
  text-decoration: none;
} */

/*Sign in box END*/

/* Main Content start */
.hover-overlay {
  transition: background-color 0.3s, color 0.3s;
}

.hover-overlay:hover {
  background-color: #7d2dec;
  color: white;
}

.hover-overlay:hover .btn-outline-light {
  color: white; /* Ensures text color stays white */
}
/* Main Content END */

#datepicker--comp card {
  display: flex;
  justify-content: space-around; /* Adjusts spacing between items */
  align-items: center; /* Centers items vertically */
}
